@import '~bootstrap/scss/bootstrap';

$main-background-color: #1f87e9;
$secondary-background: #f42727;
$font-color: #fcfcfc;

body {
    background-color: $main-background-color;
    color: $font-color;
    background-image: url('https://i.postimg.cc/gJQMVCcJ/Cartoon-landscape-vector-background14.jpg');
    background-size: cover;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
  }
  
  div {
    padding: 10px;
    text-align: center;
  }


  #getSpecialist {
    background-color:  #f42727;
    color: $font-color;
  }

  #getResources {
    background-color:  #f49127;
    color: $font-color;
  }

  #getStory {
    background-color: gold;
    color: $font-color;
  }

  #getBuddies {
    background-color:  #2dc220;
    color: $font-color;
  }

  #getOnlineBuddies {
    background-color:  #2772f4;
    color: $font-color;
  }

  #editProfile {
    background-color:  #4f11df;
    color: $font-color;
  }

  #welcome {
      color: rgb(255, 255, 255); 
      text-align: center;
      background-color: rgba(97, 83, 83, 0.345);
      font-weight: 700;
      font-size: 60px;
      border-radius: 8px;
      }

nav {
    text-align: center;
    font-size: 20px;
    position: relative;
}

button:hover {
    opacity: 0.6;
}

#results {
  background-color: rgba(3, 101, 10, 0.543);
}

.buddies {
  border: rgb(255, 255, 255) 2px solid;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

#invite {
  font-size: 12px;
}

.attributes {
  display: flex;
}

.buddies td {
  border: 1px solid rgb(43, 4, 4); 
}

.loginmodal-container {
  background-color: #ffffffa1;
  color: black;
}

#sign-out_change-pw {
  bottom: 10px;
  position: relative;
  align-content: center;
 // background-color: rgba(97, 83, 83, 0.345);
}

#message {
  background-color: rgba(97, 83, 83, 0.345);
  font-size: 18px;
  font-weight: 600;
}

#buttons {
  font-size: 24px;
}

legend {
  width: 200px;
  background-color: rgba(97, 83, 83, 0.495);
  font-size: 36px;
  border-radius: 8px;
}

label {
  background-color: rgba(97, 83, 83, 0.495);
}

#changepw-message {
  color: white;
  font-size: 18px; 
}

#chosen-wing {
  width: 200px;
  height: 50%;
  text-align: center;
}
 
input {
  border-radius: 8px;
}

